*{
    overflow: hidden;
}
.app{
    background-color: rgb(217, 235, 219);
}

.all-button{
    width: 120px !important;
}

.to-do-heading{
    border-bottom: 1px solid green;
}

/* ------------------------------------------------------------------------------------------------------------------------- */

.to-do-text{
    background-color: rgb(247, 255, 247);
}
.to-do-text:focus{
    background-color: rgb(247, 255, 247);
}

/* ------------------------------------------------------------------------------------------------------------------------- */

.notes-data{
    background-color: rgb(247, 255, 247);
}
.notes-data p{
    background-color: rgb(247, 255, 247);
}

